.targeta1{
width: 150px;
height: 50px;
background-color: rgb(194, 194, 239);
font-size: 24px;
color:rgb(0, 0, 0);
text-align: center;
display: flex;
justify-content: center;
}

.targeta2{
width: 120px;
height: 200px;
background-color: rgb(64, 255, 0);
font-size: 24px;
color:rgb(0, 0, 0);
text-align: center;
justify-content: center;
display: flex;

}


.targeta3{
width: 250px;
height: 100px;
background-color: rgb(255, 0, 47);
font-size: 24px;
color:rgb(0, 0, 0);
text-align: center;
justify-content: center;
display: flex;

}