/* Variables de colors */
:root {
  --color-principal: #4758cd;
  /* Blau fosc */
  --color-secundari: #F0A824;
  /* Groc */
  --color-tercer: #F6D37C;
  /* Taronja */
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: Barlow, sans-serif;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

.space {
  height: 24px;
}

.quote {
  font-style: italic;
  font-size: 20px;
  margin-top: 20px;
  color: var(--color-principal);
  border-left: 4px solid var(--color-principal);
  padding-left: 15px;
}

.highlight {
  color: var(--color-principal);
  font-weight: bold;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 10;
  height: 68px;
  padding: 24px 24px 12px;

  a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 12px;
    transition: color 0.3s ease-in-out;
  }
}

.scrolled nav {
  background: white;
  -webkit-box-shadow: -1px -12px 44px 2px rgba(112, 108, 112, 0.34);
  -moz-box-shadow: -1px -12px 44px 2px rgba(112, 108, 112, 0.34);
  box-shadow: -1px -12px 44px 2px rgba(112, 108, 112, 0.34);

  a {
    color: black !important;
  }
}

.fixed-button {
  position: fixed;
  bottom: 32px;
  right: 20px;
  display: none;
  z-index: 10;
  background-color: #ffc107;
  padding: 15px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: opacity 0.5s ease-in-out;
  color: black;
  font-size: 18px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.fixed-button.visible {
  display: inline-block;
  opacity: 1;
}

/* Contenedor del video */
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.video-container iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120vw;
  height: 120vh;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* Capçalera */
.header {
  position: relative;
  height: 100vh;
  background-size: contain;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 100px 20px;
  text-align: center;

  .logo_roca {
    height: 250px;
    margin-bottom: 24px;
  }

  h1 {
    font-size: 42px;
    margin: 0 0 24px;
    color: var(--color-secundari);
  }

  .lead {
    color: var(--color-principal);
    font-weight: bold;
    font-size: 24px;
  }

  .run {
    color: var(--color-tercer);
    font-size: 22px;
    margin-bottom: 0;
  }

  .inclusive {
    color: var(--color-tercer);
    font-size: 18px;
  }

  .date {
    margin-top: 24px;
    font-size: 22px;
    color: var(--color-principal);
    text-transform: uppercase;

    &::after {
      content: "";
      width: 80px;
      height: 4px;
      background: var(--color-principal);
      display: block;
      margin: 10px auto 0;
      border-radius: 2px;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  background: white;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
}

/* Fi capçalera */

.foto-Marc {
  height: 60vh;
  margin: 0 auto;
  opacity: 0.5;
  width: 100%;
}

.background {
  background-color: #f49d9d79;
}

.background-white {
  background-color: #f49d9d79;
}

.event-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.event-subtitle {
  font-size: 1rem;
  font-weight: 400;
}

/* Secció d'història */
.section {
  padding: 40px 0;
  margin: 0px 0;
}

/* Títol de secció */
.section-title {
  color: var(--color-secundari);
  font-weight: bold;
  font-size: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  font-family: Anton, sans-serif;
  
  @media (max-width: 960px) {
    text-align: center;
  }

  &::after {
    content: "";
    width: 80px;
    height: 4px;
    background: var(--color-secundari);
    display: block;
    margin: 10px auto 0;
    border-radius: 2px;
  }
}


/* Imatge vertical */
.history-img {
  width: 100%;
  border-radius: 15px;
}


#grafLlarga, #grafCurta {
  /* width: 100vw;
  height: 500px; */
}

.grafic {
  padding: 0 12px;

  canvas {
    width: 100% !important;
    opacity: 0.9;
  }
}

.race-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .race-content-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--color-principal);
    color: var(--color-secundari);
    width: 100%;
    padding: 12px 0 8px;

    .race-title {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: uppercase;
      color: white;
    }

    i {
      font-size: 24px;
      color: white;
    }
  }
}

.race-card:hover {
  transform: scale(1.05);
}

/* Títol de cada card */
.race-card h3 {
  color: var(--color-tercer);
  font-weight: bold;
}

/* Link de descàrrega */
.download-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.download-link:hover {
  text-decoration: underline;
}

/* Espai entre els elements de la fila (gap) */
.row.gap-4 {
  gap: 20px;
  /* ajusta aquest valor segons el que necessitis */
}

/* Vídeo */
.video-div {
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: fit-content;

  h3 {
    color: var(--color-principal);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;

    video {
      border-radius: 20px;
    }
  }

  .card-overlay {
    background: white;
    border-radius: 20px;
    margin-top: 15px;
    padding: 0;
    margin: 0;
    height: 170px;
    width: 320px;
    overflow: hidden;
  }
}


/* Estils dels serveis */
.serveis-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

/* Estil de cada servei */
.servei {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.servei:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* Icona */
.servei .icon {
  font-size: 50px;
  color: #f0ad4e;
  margin-bottom: 10px;
}

/* Títol */
.serveis-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* Text */
.servei p {
  font-size: 1rem;
  color: #666;
  line-height: 1.4;
}

.servei {
  .imatge {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-principal);
    border-radius: 50%;
    width: 58px;
    height: 58px;
    color: var(--color-secundari);
    margin-bottom: 16px;
    font-size: 32px;
  }
}

.serveis-title {
  color: var(--color-principal);
  font-size: 20px;
}

.img-circuit-container {
  .img-circuit {
    width: 30%;
  }
}

/* Ajust en tablets */
@media (max-width: 960px) {

  /* Secció Rocanolic Race */
  .section {
    padding: 30px 0;
  }

  .img-circuit-container {
    .img-circuit {
      width: 100%;
    }
  }
}

/* Ajust en mòbils */
@media (max-width: 768px) {
  .history-section {
    text-align: center;
  }

  /* Secció Rocanolic Race */
  .section {
    padding: 20px 0;
  }

  .logo {
    height: 50px;
  }
}

.timeline {
  text-align: center;

  .timeline-title {
    margin-bottom: 24px;
  }

  .timeline-day-title {
    font-size: 24px;
    color: var(--color-principal);
  }

  .timeline-day {
    list-style: none;
    margin-bottom: 24px;

    .timeline-item {
      margin-bottom: 12px;

      .horari {
        font-weight: bold;
        color: var(--color-principal);
      }

      .highlighted {
        color: var(--color-principal);
        font-weight: bold;
      }
    }
  }
}

/* CSS PER LA SECCIÓ HORARIS */
.timeline {
  max-width: 800px;
  margin: 0 auto;
}

.timeline-day-title {
  font-size: 1.5rem;
  color: var(--color-primary);
  font-weight: bold;
  margin: 2rem 0 1rem;
  padding-left: 1rem;
  border-left: 4px solid var(--color-secondary);
}

.timeline-item {
  background: white;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  text-align: left;
}

.timeline-item:hover {
  transform: translateX(5px);
}

.timeline-item .horari {
  min-width: 120px;
  font-weight: bold;
  color: var(--color-primary);
}

.timeline-item .activitat {
  flex-grow: 1;
}

.timeline-item.highlighted {
  background: rgba(111, 99, 242, 0.208);
  border-left: 4px solid var(--color-secondary);
}

@media (max-width: 576px) {
  .timeline-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .timeline-item .horari {
    min-width: auto;
  }
}

.partners {
  padding: 24px;

  .logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 32px;

    img {
      max-width: 300px;
    }

  }
}

/* Contenidor de totes les curses */
.rocanolich-race {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.race-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 100%;
  margin: auto;
  background-color: #f4f4f4;
}

.race-card {
  flex: 1;
  min-width: 300px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  position: relative;
  /* border: thin solid var(--color-principal); */
  background: rgba(111, 99, 242, 0.1);

  &:hover {
    transform: scale(1.05);
  }

  .race-image {
    height: auto;
    width: 100%;
  }

  .race-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
    margin: 20px 0 8px;

    h4 {
      margin: 0;
      font-size: 0.9rem;
      color: #555;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }

    p {
      font-size: 1.2rem;
      color: var(--color-principal);
      font-weight: bold;
      margin: 0;
    }
  }

  .race-icon {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .race-btns {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    padding-right: 12px;
  }

  a {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease-in-out;

    &:hover {
      text-decoration: none;
    }
  }

  &.long-race {
    background: rgba(111, 99, 242, 0.5);
    border-top: 6px solid var(--color-principal);

    a {
      background: var(--color-principal);
      color: white;

      i {
        color: white;
      }

      &:hover {
        opacity: 0.8;
        background: var(--color-principal);
      }
    }
  }

  &.medium-race {
    background: rgba(249, 194, 121, 0.5);
    border-top: 6px solid #f0ad4e;

    .race-content-title {
      background-color: #f0ad4e;
      color: white;
    }

    a {
      background: #f0ad4e;
      color: white;

      i {
        color: white;
      }

      &:hover {
        background: var(--color-secundari);
      }
    }
  }

  &.inclusive-race {
    background: rgba(196, 244, 166, 0.8);
    border-top: 6px solid #63823a;

    .race-content-title {
      background-color: #63823a;
      color: white;
    }

    a {
      background: #63823a;
      color: white;

      i {
        color: white;
      }

      &:hover {
        background: #b7ed70;
      }
    }
  }
}

.countdown {
  background: var(--color-principal);
  padding: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  gap: 54px;

  .countdown-title {
    font-size: 18px;
    margin-bottom: 0;
    text-align: left;
  }

  .countdown-date {
    margin: 0;
    color: var(--color-secundari);
    font-weight: bold;
  }

  .time {
    span {
      font-size: 38px;
      margin: 0 8px;
    }
  }

  @media (max-width: 620px) {
    flex-direction: column;
    gap: 32px;
    width: 100%;

    .countdown-title {
      text-align: center;
    }

    .countdown-date {
      font-size: 22px;
    }

    .time span {
      font-size: 32px;
      margin: 0 8px;
    }
  }
}